<a href="https://colab.research.google.com/github/poornima2635/Data-Handling-And-Visualization/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
a = [1,7.2,2]
myvar = pd.Series(a)
print(myvar)

0    1.0
1    7.2
2    2.0
dtype: float64

In [2]:
print(myvar[0])

1.0

In [3]:
a = [1,7,2]
myvar = pd.Series(a,index = ["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [4]:
print(myvar["y"])

7

In [5]:
thisdict = {
    "brand" : "Lamborgini",
    "model" : "V12-Powered plugin-in hybrid Ravuelto",
    "year" : 2023
    }
print(thisdict)

{'brand': 'Lamborgini', 'model': 'V12-Powered plugin-in hybrid Ravuelto', 'year': 2023}

In [6]:
s1 = pd.Series([-3,-1,1,3,5,'gaurav',7.8])
print(s1)

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6       7.8
dtype: object

In [7]:
print(s1[2])

1

In [8]:
calories = {"day1":420,"day2":300,"day3":350}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    300
day3    350
dtype: int64

In [9]:
s1[:2]

0    -3
1    -1
dtype: object

In [10]:
print(s1[[2,1,0]])

2     1
1    -1
0    -3
dtype: object

In [11]:
type(s1)

pandas.core.series.Series

In [12]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s['a'])

1

In [13]:
data = {
    "Calories" : [420,328,350],
    "duration" : [50,40,45]
}

df = pd.DataFrame(data)
print(df)

   Calories  duration
0       420        50
1       328        40
2       350        45

In [14]:
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index =['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [15]:
print(myvar.loc["day2"])

300

In [16]:
print(myvar.index[[0,1]])

Index(['day1', 'day2'], dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, rank1 to rank4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 96.0+ bytes

In [18]:
df.dtypes

Name    object
Age      int64
dtype: object

In [19]:
df.columns

Index(['Name', 'Age'], dtype='object')

In [20]:
df.size

8

In [21]:
df.describe()

             Age
count   4.000000
mean   33.250000
std     6.396614
min    28.000000
25%    28.750000
50%    31.500000
75%    36.000000
max    42.000000

In [22]:
df['ID'] = [10,10,30,40]
print(df)

        Name  Age  ID
rank1    Tom   28  10
rank2   Jack   34  10
rank3  Steve   29  30
rank4  Ricky   42  40

In [23]:
df['ID'].unique()

array([10, 30, 40])

In [24]:
df['ID'].value_counts()

10    2
30    1
40    1
Name: ID, dtype: int64